.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #92FBD9;
    font-size: x-large;
    text-align: center;
  }
  .textbox {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 200;
    color: black;
    font-size: medium;
    text-align: left;
  }  
  
  .grey {
    background: grey;
  }
  